import React from 'react';
import './index.less';

interface IProps {
	  
}

const {{componentName}} = (props: IProps) => {
    return (
      	<div className="{{className}}">
        	This is page {{pageName}}, please delete this line in your project.
      	</div>
    );
};
export default {{componentName}};